# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
FileSystem=media/
FileSystem=media/compositor
FileSystem=media/material
FileSystem=media/model
FileSystem=media/program
FileSystem=media/shader
FileSystem=media/texture
FileSystem=media/overlay



